<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>doc</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>


<!-- search -->

<body>		
	<center><h2>Please fill following box to search.</h2></center>
	<center><b>If Wechat ID and Last Name BOTH match our record, you will get his/her yellowpage.</b></center>
<hr style="width:50%;text-align:left;center">
    <center><b>Enter his/her Wechat ID</b></center>
    <center><input type="text" placeholder="Enter Wechat_ID" name="wechatID" required></center>
<hr style="width:50%;text-align:left;center">
	<center><b>Enter his/her Last Name in English</b></center>
    <center><input type="text" placeholder="Enter Last Name in English" name="wechatID" required></center>
<hr style="width:50%;text-align:left;center">
	    <div class="clearfix">
      <center><button type="submit" class="signupbtn">Search Now</button></center>
<hr> 



<!-- logger -->
<hr>
  <div class="container">
    <center><h2>Please fill in this form to create your yellowpage.</h2></center>
<hr style="width:50%;text-align:left;center">

    <center><b>Enter your Wechat ID</b></center>
    <center><input type="text" placeholder="Enter Wechat_ID" name="wechatID" required></center>
<hr style="width:50%;text-align:left;center">
	<center><b>Enter your Last Name in English</b>
    <center><input type="text" placeholder="Enter Lastname in English" name="psw" required></center>
<hr style="width:50%;text-align:left;center">
	<center><b>Enter your 1st contact method</b>
    <center><input type="text" placeholder="APP's Name" name="psw" ></center>
    <center><input type="text" placeholder="ID Number/Friend Code" name="psw" ></center>
<hr style="width:50%;text-align:left;center">
	<center><b>Enter your 2nd contact method</b>
    <center><input type="text" placeholder="APP's Name" name="psw" ></center>
    <center><input type="text" placeholder="ID Number/Friend Code" name="psw" ></center>
<hr style="width:50%;text-align:left;center">
	<center><b>Enter your 3rd contact method</b>
    <center><input type="text" placeholder="APP's Name" name="psw" ></center>
    <center><input type="text" placeholder="ID Number/Friend Code" name="psw" ></center>
<hr style="width:50%;text-align:left;center">
		
      <center><button type="submit" class="signupbtn">Build your record</button></center>
		
<hr style="width:100%;text-align:left;center">
<hr style="width:100%;text-align:left;center">
	<center><b>本网站在加拿大进行维护，不直接被美国法律管辖。如有必要，可以随时搬家。</b>
<hr style="width:100%;text-align:left;center">
	<center><b>contact admin:  facheng.guo@yale.edu</b>
	<center><b>如 1)有任何问题，2）想要加入我们，请联系网站管理员：facheng.guo@yale.edu</b>
</body>
</html>