<html>
<meta charset="utf-8">
<title>备用联络方式的查询与注册 postwechat.com</title>
    <body>
        <div><center>
			<hr style="width:50%;text-align:left;center">
			<center><font size="10" color="red">【本站亮点】</font></center>
			<center><font size="3" color="black">【可靠性】：本网站独立于微信，在微信被美国封杀后，本网站依然可用。</font></center>
			<center><font size="3" color="black">【信息安全】：last name和wechatID必须相互对应才会有搜索结果。</font></center>
			<center><font size="3" color="black">【可用性】：Wechat被封杀后，wechatID依然可以从离线的wechat中获得。</font></center>	
			<center><font size="3" color="black">【公益性】：本网站运行资金完全由作者自费。储存在本网站上的信息不会用于任何营利性目的。</font></center>	
			<hr style="width:30%;text-align:left;center">
			<center><font size="10" color="red">《使用说明》</font></center>
			<hr style="width:30%;text-align:left;center">
			<center><font size="3" color="black">【通讯录录入】</font></center>
			<center><font size="3" color="black">点击input,建立你的通讯档案。如果输入错误，请重新建立一次档案。新的档案将会覆盖旧的档案。</font></center>
			<hr style="width:30%;text-align:left;center">
			<center><font size="3" color="black">【获取通讯录】</font></center>
			<center><font size="3" color="black">点击search，输入你搜索的人的姓和wechatID即可。</font></center>
			<hr style="width:30%;text-align:left;center">		
			<hr style="width:30%;text-align:left;center">			
		<hr style="width:50%;text-align:left;center">
            <a href="{{ url_for('search') }}"><font size="10" color="blue">Search</font> </a> 
            <hr style="width:50%;text-align:left;center">
            <a href="{{ url_for('inputdata') }}"><font size="10" color="blue">Input</font></a></center>
        </div>
        <hr style="width:50%;text-align:left;center">
        <center>{% with messages = get_flashed_messages() %}</center>
        <center>{% if messages %}</center>
        <div style="list-style-type:none;">
            <center><font size="5" color="red">{% for message in messages %}</font></center>
            <center><li><font size="5" color="red">{{message}}</font></li>
            <center><font size="5" color="red">{% endfor %}</font></center>
        </div>
        <center>{% endif %}</center>
        <center>{% endwith %}</center>
       <center> {% block content %}{% endblock %}</center>
	   
<center><font size="3" color="red">warning:</font> <font size="3" color="black">if you wish to withdraw your infomation, just input your wxid and lastname info for a second time with blank app name and id </font></center>
	<hr style="width:80%;text-align:left;center">
	<center><font size="3" color="black"></font></center>

	<hr style="width:80%;text-align:left;center">
	<center><font size="3" color="black">Authors:</font></center>	
	<center><font size="2" color="black">Facheng Guo, Chemistry department, Yale University </font></center>
	<center><font size="2" color="black">Yizhou Chen, Neuroscience, Baylor College of Medicine </font></center>
	<hr style="width:80%;text-align:left;center">
	<hr style="width:80%;text-align:left;center">
	<hr style="width:80%;text-align:left;center">
    <center><font size="3" color="black">Thanks for Using postwechat.com</font></center>
    

    </body>
</html>